<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.unity3d.player" android:installLocation="preferExternal" android:theme="@android:style/Theme.NoTitleBar" android:versionCode="1" android:versionName="1">
  <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />
  <application
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:debuggable="true">
        <activity android:name="com.unity3d.player.UnityPlayerActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
        
        <!-- Google Play services -->
        <!-- 
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />
        -->
        <meta-data android:name="com.google.android.gms.version"
                   android:value="8487000" />
    </application>

    <!-- Flurry Permissions -->
    <!-- Required permission -->
    <uses-permission android:name="android.permission.INTERNET" /> 
    <!-- Optional permission - highly recommended-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> 
    <!-- Optional permission (location tracking) -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->

</manifest>